{
  "extends": [
  "plugin:prettier/recommended",
  "react-app",
  "eslint:recommended"
  ],
  "plugins": ["react"],
  "rules": {
  "interface-name-prefix": "on",
  "explicit-function-return-type": "on",
  "explicit-module-boundary-types": "on",
  "no-explicit-any": "on"
  }
}
